.title{
    color:green;
    font-size:3em;
    margin-top:2%;
    text-align:center;
}

img{
    margin:1%;
    width:350px;
    height:200px;
    display: flex;
    float:left;
}

#content{
    display:right;
    height:10%;
    width:60%;
    margin-top:1%;
}

.news{
    text-align: left;
    width:1100px;
    margin:auto;


}

h3{
    
}
