.title{
    color:green;
    font-size:3em;
    margin-top:2%;
}

img{
    margin:3%;
    width:350px;
    height:200px;
    display: flex;
    float:left;
}

#content1{
    margin-top:3%;
    display:right;
    height:10%;
    width:70%;
}

#news{
    text-align: justify;
}
